<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <!-- Escucha eventos de prueba (para logs, reportes, capturas, etc.) -->
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="Suite de pruebas completas">
        <classes>

            <!-- Pruebas de Login -->
            <class name="test.loginPageTest">
                <methods>
                    <include name="verifyElementsLogin"/>
                </methods>
            </class>

            <class name="test.E2ETest"/>

            <class name="runner.CucumberTestRunner"/>
        </classes>
    </test>
</suite>
